AgileDiary/AgileDiary/obj/**
AgileDiary/AgileDiary/bin/**
AgileDiary/AgileDiary/.vs/**
AgileDiary/.vs/AgileDiary/v15/Server/sqlite3/storage.ide-wal
AgileDiary/.vs/AgileDiary/v15/Server/sqlite3/storage.ide
AgileDiary/.vs/AgileDiary/v15/Server/sqlite3/db.lock
AgileDiary/.vs/AgileDiary/v15/Server/sqlite3/storage.ide-shm
