@page
@model AgileDiary.Models.PageModels.Goals.EditGoalPageModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<hr />

<div class="row">
    <form method="POST">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" value="@Model.Goal.Id" name="Goal.Id" />
            </div>
            <div class="form-group">
                <label asp-for="Goal.Title" class="control-label"></label>
                <input asp-for="Goal.Title" type="text" class="form-control" />
                <span asp-validation-for="Goal.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goal.Description" class="control-label"></label>
                <input asp-for="Goal.Description" type="text" class="form-control" />
                <span asp-validation-for="Goal.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goal.Result" class="control-label"></label>
                <input asp-for="Goal.Result" type="text" class="form-control" />
                <span asp-validation-for="Goal.Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
<div>
    @{
        var d = new Dictionary<string, string>
            {
                { "sprintId", Model.Goal.SprintId.ToString() }
            };
    }
    <a asp-page="SprintGoals" asp-all-route-data="d">Back to Goals List</a>
</div>

