@page
@model AgileDiary.Models.PageModels.Sprints.CreateSprintPageModel
@{
    ViewData["Title"] = "Create sprint";
}

<h2>Create sprint</h2>
<hr />
<div class="row">
    <form method="POST">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" value="@Model.Sprint.Id" name="Sprint.Id" />
            </div>
            <div class="form-group">
                <label asp-for="Sprint.StartDate" class="control-label"></label>
                <input asp-for="Sprint.StartDate" type="date" class="form-control" />
                <span asp-validation-for="Sprint.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprint.Reward" class="control-label"></label>
                <input asp-for="Sprint.Reward" class="form-control" />
                <span asp-validation-for="Sprint.Reward" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        @if (Model?.Sprint?.Goals != null)
        {
            var d = new Dictionary<string, string>
            {
                { "sprintId", Model.Sprint.Id.ToString() }
            };
            <div class="col-md-4">
                <div class="row">
                </div>
                <label asp-for="Sprint.Goals" class="control-label"></label>
                <br>

                <a asp-page="/Goals/SprintGoals" asp-all-route-data="d">Sprint goals</a>
            </div>
        }
    </form>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>