@page
@model AgileDiary.Models.PageModels.Sprints.CreateSprintPageModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SprintViewModel</h4>
<hr />
<div class="row">
    <form method="POST">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sprint.StartDate" class="control-label"></label>
                <input asp-for="Sprint.StartDate" type ="date" class="form-control" />
                <span asp-validation-for="Sprint.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprint.Reward" class="control-label"></label>
                <input asp-for="Sprint.Reward" class="form-control" />
                <span asp-validation-for="Sprint.Reward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        @if (Model?.Sprint?.Goals != null)
        {
            <div class="col-md-4">
                <div class="row">
                    @*<div class="col-sm-4">
                        <label asp-for="Sprint?.Goals.First().Area" class="control-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="Sprint?.Goals.First().Description" class="control-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="Sprint?.Goals.First().Reason" class="control-label"></label>
                    </div>*@
                </div>

                @foreach (var goal in Model.Sprint.Goals)
                {
                    <div class="row">
                        <div class="col-sm-4">
                            @*<input asp-for="@goal.Area" class="form-control" />*@
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="@goal.Description" class="form-control" />
                        </div>
                        <div class="col-sm-4">
                            @*<input asp-for="@goal.Reason" class="form-control" />*@
                        </div>
                    </div>
                }
                <div class="row">
                    <a asp-page="">Add goal</a>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-4">
                <a asp-page="">Add goal</a>
            </div>
        }
    </form>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>