
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SprintEditor</title>
</head>
<body>
    <h2>SprintId</h2>
    <h4>Goals</h4>
    <ul>
        <li><a title="Goal 1" href="Goal 1">Goal 1</a></li>
        <li><a title="Goal 1" href="Goal 1">Goal 1</a></li>
        <li><a title="Goal 1" href="Goal 1">Goal 1</a></li>
    </ul>
    <h4>Habbits</h4>
    <ul>
        <li><a title="Habbit1" href="Habbit1">Habbit1</a></li>
        <li><a title="Habbit1" href="Habbit1">Habbit1</a></li>
        <li><a title="Habbit1" href="Habbit1">Habbit1</a></li>
        <li><a title="Habbit1" href="Habbit1">Habbit1</a></li>
        <li><a title="Habbit1" href="Habbit1">Habbit1</a></li>
    </ul>
    <h4>Weeks</h4>
    <ul>
        <li><a href="Previous Week">Previous Week</a></li>
        <li><a href="Current Week">Current Week</a></li>
        <li><a href="Next Week">Next Week</a></li>
    </ul>
    <h4>Reward</h4>
    <p style="padding-left: 30px;">Reward text</p>
    <h4>Conclusion</h4>
    <p style="padding-left: 30px;">Conclusion text</p>
    <h4>Thanks</h4>
    <p style="padding-left: 30px;">Thnaks text</p>
    <h4>Improvements</h4>
    <p style="padding-left: 30px;">Improvments text</p>
    <p style="padding-left: 30px;">&nbsp;</p>
</body>
</html>
