@using AgileDiary.Models.AgileDiaryViewModels
@model ConcreteSprintViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SprintEditor</title>
</head>
<body>
    <h2>SprintId</h2>
    <h4>Goals</h4>
    <ul>
        @foreach (var goal in Model.Goal)
        {
            <li><a asp-controller="Account" asp-action="Register" asp-route-id="@goal.Id">@goal.Description</a></li>
        }
    </ul>
    <h4>Habbits</h4>
    <ul>
        @foreach (var habbit in Model.Habbit)
        {
            <li><a asp-controller="Account" asp-action="Register" asp-route-id="@habbit.Id">@habbit.Id</a></li>
        }
    </ul>
    <h4>Weeks</h4>
    <ul>
        <li><a href="Previous Week">Previous Week</a></li>
        <li><a href="Current Week">Current Week</a></li>
        <li><a href="Next Week">Next Week</a></li>
    </ul>
    <h4>Reward</h4>
    <p style="padding-left: 30px;">Reward text</p>
    <h4>Conclusion</h4>
    <p style="padding-left: 30px;">Conclusion text</p>
    <h4>Thanks</h4>
    <p style="padding-left: 30px;">Thnaks text</p>
    <h4>Improvements</h4>
    <p style="padding-left: 30px;">Improvments text</p>
    <p style="padding-left: 30px;">&nbsp;</p>
</body>
</html>
