@using AgileDiary.Models.AgileDiaryViewModels
@model AllSprintsViewModel

@{
    ViewData["Title"] = "Manage your sprints";
}

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>SprintId</td>
        </tr>
        </thead>

        @foreach (var sprintId in Model.Sprints)
        {
            <tr>
                <td>
                    <input type="checkbox" name="@sprintId" value="false" class="done-checkbox" />
                </td>
                <td><a asp-controller="Sprint" asp-action="ConcreteSprint" asp-route-id="@sprintId">@sprintId</a></td>
            </tr>
        }
    </table>

    <div class="panel-footer add-sprint add-item">
            <button type="button" id="add-sprint-button">Add</button>
    </div>
</div>

